
body{
	margin: 0px;
}


#navbar {
	padding: 0px;
	background-color: #282829;
	font-size: 4vw;
}

a {
	padding-left: 2vw;
	padding-right: 2vw;
	text-decoration: none;
	color: #f9f9f9;
	font-family: Copperplate Gothic Bold; 
	
}

a:hover {
	background-color: black;
}

.responsive1 { /* responsive for deca logo */
    float: left;
	display: block;
    width: 25%;
}

.responsive2 { /* responsive for gator town logo */
    
    width: 50%;
}

.responsive3 { /* responsive for deca logo */
    float: right;
	display: block;
    width: 25%;
}

.slideshow {
	padding: 2vw;
}

.mySlides {
	border-color: #E6D395;
}








