
/* "display: none;" ---> DELETES CODE FROM SMALLER SCREENS */

#navbar {
	display: none;
}

#navbar a {
	display: none;	
}

#navbar a:hover {
	background-color: black;
}


body{
	margin: 0px;
}

p {
	color: white;
	font-family: Copperplate Gothic Bold;
	font-size: 2vw;
	background-color: rgba(0, 0, 0, 0.3);
}

#what-is-gator-town {
	float: left;
	width: 40%;
	padding-left: 5%;
}

#history {
	float: right;
	width: 40%;
	padding-right: 5%;
}

.responsive1 { /* responsive for deca logo */
	display: none;
}

.responsive2 { /* responsive for gator town logo */
    width: 100%;
}

.responsive3 { /* responsive for deca logo */
	display: none;
}

.slideshow {
	display: none;
}

.mySlides {
	display: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: none;
  justify-content: center;
}

.flex-container > div {
  background-color: white;
  width: 300px;
  height: 300px;
  margin: 30px;
}

h1 {
	font-family: Copperplate Gothic Bold;
	font-size: 5vw;
	color: white;
}

h2 {
	font-family: Copperplate Gothic Bold;
	font-size: 4vw;
	color: white;
}

h3 {
	font-family: Copperplate Gothic Bold;
	font-size: 2vw;
	color: white;
}

.about-heading {
	font-size: 3vw;
}

.mobile_img {
	border-color: #E6D395;
	width: 75%;
}

.mobile_navbar {
	width: 100%;
	padding-bottom: 5vw;
	padding-top: 5vw;
}

.mobile_navbar a {
	background-color: #282829;
    color: white;
    display: block;
    padding: 4vw;
    text-decoration: none;
}

.mobile_navbar a:hover {
	background-color: black;
}

a {
	display: block;
    text-decoration: none;
	color: white;
    background-color: #282829;
}





